header {
  height: 70px;
  position: relative;
  .row {
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    border-bottom: 1.5px solid #131D34;
  }
  .logo {
      margin-left: 30px;
      img {
          height: 35px;
      }
  }
  .profil {
      display: inline-block;
      cursor: pointer;
  }
  .menu {
      list-style: none;
      font-weight: 600;
      margin-right: 60px;
      li {
        display: inline-block;
        margin: 5px 30px;
        padding: 2px 2px;
        transition: 0;
        font-weight: 400;
        a {
          color: #FF9C7B;
        }
      }
  }
  .active {
      color: #000!important;
      &.underline {
        color: inherit!important;
        text-decoration: underline;
      }
  }
}

@media (max-width: 1000px) {
  header {
    .logo {
        position: relative;
        margin-bottom: .5em;
    }
    .menu {
      position: relative;
      right: 0;
      text-align: center;
      width: 60%;
      margin: 0 auto;
      line-height: 2em;
      a {
          text-decoration: none;
      }
      li {
        float: initial;
      }
    }
    .section__event .down {
        top: 340px;
    }
  }
}
@media (max-width : 750px) {
  header {
    .logo {
      margin-left: 10px;
      width: 45%;
    }
    .menu {
      a {
        &:first-child {
          display: none;
        }
        li {
          margin: 5px 10px;
        }
      }
    }
  }
}
@media (max-width: 450px) {
    .menu {
        width: 98%;
    }
}
@media (max-width : 370px) {
    header {
        .logo img {
            height: 29px;
            margin-top: 6px;
        }
        .menu {
            a li {
                margin: 5px;
            }
        }
    }
}

header#home {
  background-color: transparentize(#191F31, .25);
  box-shadow: 14px 0px 20px 13px transparentize(#000, .5);
  .row {
    border-bottom: 0;
  }
}
