<% content_for :title, "Recette " + @recipe.name.titleize + " | Trad'Food, manger et cuisiner" %>

<section id="recipe">
  <h1><%= @recipe.name.titleize %></h1>
  <a href="#" class="arrow left"></a>
  <div class="container">
    <%= image_tag @recipe.image, :class => "logo__img column-center", :alt => @recipe.name.titleize %>
    <div class="right">
      <h2>Ingrédients</h2>
        <%= @recipe.ingredients %>
      <hr>
      <h2>Recette</h2>
      <%= @recipe.recipe %>
    </div>
  </div>
  <a href="#" class="arrow right"></a>
</section>
