<% content_for :title, "Recette " + @recipe.name.titleize + " | Trad'Food" %>
<% content_for :meta_description, @recipe.description %>
<% content_for :meta_image, @recipe.image %>

<article id="recipe" itemscope itemtype="http://schema.org/Article">
  <h1 itemprop="name"><%= @recipe.name.titleize %></h1>
  <a href="#" class="arrow left"></a>
  <div class="container">
    <%= image_tag @recipe.image, :class => "logo__img column-center", :alt => @recipe.name.titleize %>
    <div class="right" itemprop="description">
      <h2>Ingrédients</h2>
        <%= markdown(@recipe.ingredients) %>
      <hr>
      <h2>Recette</h2>
      <%= markdown(@recipe.recipe) %>
    </div>
  </div>
  <a href="#" class="arrow right"></a>
</article>
