<table id="results" class='table'>
  <% @clients.each do |client| %>
  <tr>
    <td>
      <%= link_to customer_path(client[0]) do %>
        <%= client[1]['name'] %>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>
