#about {
  width: 80%;
  margin: 2em auto;
  background-color: #EEEEEE;
  border-radius: 7px;
  padding: 1.2em 2em;
  h1 {
    font-size: 2em;
    padding: .3em 0;
  }
  h2 {
    font-size: 1.5em;
    padding: .6em 0 .3em;
  }
  a {
    color: #000;
    display: block;
  }
  li {
    list-style: initial;
    margin-left: 2em;
  }
}
