/* RESET */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline;-webkit-appearance: none;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}input,textarea,select{outline: none;}

/* STYLE */


/* ------------------
GLOBAL
------------------ */
body {
  font-family: 'Open sans', sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.button {
  -webkit-appearance: none;
  display: inline-block;
  padding: 8px 24px 9px;
  font-size: 16px;
  line-height: 20px;
  border-radius: 64px;
  border: 2px solid;
  transition: border-color .2s, color .2s, background-color .2s;
  cursor: pointer;
  &.white {
    border-color: rgba(255, 255, 255, 0.3);
    color: #FFF;
    &:hover {
      border-color: #FFF;
      background-color: #FFF;
      color: #424242;
    }
  }
  &.black {
    border-color: rgba(0, 0, 0, 0.3);
    color: #424242;
    &:hover {
      border-color: #424242;
      background-color: #424242;
      color: #FFF;
    }
  }
}
