  <section id="about">
    <% content_for :title, @pagetitle = "A propos de Trad'Food" %>
    <h1>A propos</h1>
    <h2>Qui sommes-nous ?</h2>
    <p>Trad’ Food permet aux locaux et aux touristes de découvrir ou de redécouvrir, les recettes emblématiques du terroir français, mais aussi les lieux où les déguster.</p>
    <p>Avec une première version axée sur les plats traditionnels de Bordeaux et ses alentours, TradFood a pour but final de proposer à ses utilisateurs un contenu plus large recensant les richesses gastronomiques des différentes régions françaises.</p>
    <p>Grâce à la liste de restaurants présents sur Trad’ Food, chacun pourra aisément déguster chacuns des plats traditionnels proposés, mais aussi les préparer grâce au large panel de recettes et de conseils accessibles sur le site.</p>
</p>
    <h2>Pourquoi Trad'Food</h2>
    <p>Ce projet a été créé par une équipe de 6 étudiants en MMI à l’IUT Bordeaux Montaigne, dans le cadre d’un projet d’intégration web sur l’année scolaire 2016-2017. Ce dernier est basé sur le thème “manger sur Bordeaux”.</p>
    <h2>L'équipe</h2>
    <ul>
      <li><a href="#">Prénom Nom</a></li>
      <li><a href="#">Prénom Nom</a></li>
      <li><a href="#">Prénom Nom</a></li>
      <li><a href="#">Prénom Nom</a></li>
      <li><a href="#">Prénom Nom</a></li>
      <li><a href="#">Prénom Nom</a></li>
    </ul>
  </section>
